@model MyResume_Asp.Models.Skill

@{
    ViewData["Title"] = "EditSkill";
}

<h1>EditSkill</h1>

<h4>Skill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSkill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameSkill" class="control-label"></label>
                <input asp-for="NameSkill" class="form-control" />
                <span asp-validation-for="NameSkill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Learned" class="control-label"></label>
                <input asp-for="Learned" class="form-control" />
                <span asp-validation-for="Learned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

