@model MyResume_Asp.Models.Facts

@{
    ViewData["Title"] = "EditFacts";
}

<h1>EditFacts</h1>

<h4>Facts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFacts">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="HappyClients" class="control-label"></label>
                <input asp-for="HappyClients" class="form-control" />
                <span asp-validation-for="HappyClients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projects" class="control-label"></label>
                <input asp-for="Projects" class="form-control" />
                <span asp-validation-for="Projects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursOfSupport" class="control-label"></label>
                <input asp-for="HoursOfSupport" class="form-control" />
                <span asp-validation-for="HoursOfSupport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Awards" class="control-label"></label>
                <input asp-for="Awards" class="form-control" />
                <span asp-validation-for="Awards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
